<h1>List Item</h1>

<%= form_for :item do |f| %>
	<p>
		<%= f.label :title %>
		<br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :start_price %>
		<br>
		<%= f.number_field :start_price %>
	</p>

	<p>
		<%= f.label :bit_price %>
		<br>
		<%= f.number_field :bit_price %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	
<% end %>